.row
  .col-sm-9
    - if @receiver.description
      .well= simple_format(@receiver.description).html_safe

    - @appreciations.in_groups_of(2) do |group|
      - group.each do |appreciation|
        .col-md-6
          -if appreciation
            = render 'appreciations/appreciation', appreciation: appreciation, user: appreciation.user, show_project: false

    .row
      .col-sm-12.text-center
        = paginate @appreciations, :theme => 'twitter-bootstrap-3'

  .col-sm-3
    %p So far <strong>#{@receiver.appreciations_count}</strong> users said Thanks!

    - if current_user
      - case
      - when @receiver.policy.show_enable?(by: current_user)
        = render 'badges'
        = image_tag 'potatko-3.jpg'
      - when @receiver.policy.can_be_appriciated?(by: current_user)
        = render 'appreciations/form'
      - when @receiver.appriciated?(by: current_user)
        You said <em>Thanks</em> to this receiver.
        %i.fa.fa-thumbs-up
    - else
      = link_to user_github_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block' do
        Say Thanks
        %i.fa.fa-thumbs-up
