.row
  .col-sm-9
    - if @receiver.description
      .well= @receiver.description

    - @appreciations.each do |appreciation|
      = render 'appreciations/appreciation', appreciation: appreciation

  .col-sm-3
    - if policy.show_enable?
      = render 'badges'
    - elsif policy.can_appriciate?
      = render 'appreciations/form'
    - else
      = link_to user_github_omniauth_authorize_path, class: 'btn btn-primary btn-lg btn-block' do
        Say Thanks
        %i.fa.fa-thumbs-o-up



