.container
  .page-header
    %nav.btn-group.pull-right
      = new_btn path: new_receiver_path, resource: Receiver.new
    %h1= @header_text.html_safe

  = flash_messages

  .row
    .col-sm-7{data: {turbolinks: false}}
      - @receivers.in_groups_of(2).each do |group|
        .row
          - group.each do |receiver|
            .col-md-6
              - if receiver
                = render 'receivers/receiver', receiver: receiver
    .col-sm-5
      = image_tag 'potatko-2.jpg'

  .row
    .col-sm-12.text-center
      = paginate @receivers, :theme => 'twitter-bootstrap-3'

