%section.container-fluid.jumbotron
  .container
    = image_tag('potatko-1.jpg', alt: "Open Thanks Mascot", class: 'img-circle pull-right', size: '350x350')
    %h1 Open <strong>Thanks</strong>!
    %p Say thank you to your favorite Open Source project, article !
    %p
      = link_to user_github_omniauth_authorize_path, class: "btn btn-primary btn-lg", role: "button", style: "margin-right: 5px" do
        %i.fa.fa-github
        Sign in
        %small to get started

      = how_to_enable_a_badge(btn_class: "btn btn-danger btn-lg") do
        %i.fa.fa-heart
        Add a badge
        %small to your Github


.container= flash_messages

%section.container
  %h1.hidden About
  .row
    .col-md-12
    %p
      It's really hard to say thank you these days without being accused of spamming.

    %p
      Let say you really like some Github project. How would you show your appreciation ?

      %ul
        %li Would you open a project "issue" saying "Thank you" ?
        %li Would you create a Pull request saying "Thank you" ?
        %li Would you google author until you find his email or twitter like a creepy stalker ?
        %li Would you send the author a box of chocolates ?

    %p
      #{link_to 'Open thanks', root_path} provides convenient way how to receive and say "Thank you" on a project, article, blog, comment, ...

%section.container-fluid.grey-hat
  .container
    .row
      .col-md-6
        %h1 Easy way to enable a Badge
        %p
          In few simple steps you can enable beautiful <em>Say Thanks</em> button on your Github project,
          Article, Website, Blog, ..
        %p
          The link for your <em>Thank you</em> receiver can be shared to anywehere! So you can receive
          Thank you from any Social media.

        = how_to_enable_a_badge(style: 'margin-top: 70px;', btn_class: "btn btn-success btn-lg") do
          %i.fa.fa-angle-double-down
          Show me how to enable Badge
          %i.fa.fa-angle-double-down


      .col-md-6
        = image_tag('generate-button.jpg', class: 'img-rounded', alt: "Enable a Badge preview image")


%section.container
  .page-header
    %h1 Latest Appreciations

  - @appreciations.in_groups_of(2) do |group|
    .row
      - group.each do |appreciation|
        .col-sm-6
          - if appreciation
            = render 'appreciations/appreciation', appreciation: appreciation, user: appreciation.user, show_project: true



%section.container-fluid.red-hat
  .container
    %h1 Future of this Project

    %p
      Once the #{link_to 'Ruby Rampage', 'https://www.rubyrampage.com/' } competition is over this project will live !

    %p
      We already purchesed domain <em>http:www.open-thanks.com</em> and that we hope will be more easily accessable domain.
      Don't wory doh, badges that you implement now will still works!
      Badge links are using the HTTPs Heroku endpoints and those will be used in future too.<br>
      %small
        (We triend to implement the domain name but due to ongoing DNS DDOS attacks around the world we didn't succeed with our application)

    %p
      We are planing to create a new Github organization and make this project entirely OpenSource

    %p
      Planed features will include better User profiles, more badges and more awesome stuff!
    %p
      So please support  #{link_to 'Open Thanks Ruby Rampage 2016 entry', 'https://github.com/rumblex/rubyrampage2016-open-thanks' }
