.container
  .page-header
    %nav.btn-group.pull-right
      = view_all_btn(path: polymorphic_path([resource.class])) if policy.index?
      = show_btn(resource: resource) if policy.show?
      = delete_btn(resource: resource) if policy.destroy?
    %h1 Edit #{resource.model_name}

  = flash_messages
  = render 'form'
