.container
  .page-header
    %nav.btn-group.pull-right
      = view_all_btn(path: polymorphic_path([resource.class])) if policy.index?
      = edit_btn(resource: resource) if policy.edit?
      = delete_btn(resource: resource)  if policy.destroy?

    %h1= resource.title

  = flash_messages
  = render 'inner_show'
